.bg-1{ 
    background: white url("resources/image1.jpg") no-repeat fixed center; 
    padding: 2%;
}


#footer-line{
    position: relative;
    font-size: 430%;
    font-weight: 600;
    float: left;
}

.gs{
    color: black;
    font-size: medium;
}


.get-started-button{
    background-color: transparent;
    font-weight: 600;
    border-width: 0;
    font-size: 20px;
}

.theme{
    padding-top: 30%;
    padding-bottom: 30%;
}

#humanity{
    font-size: 200%;
}

#together{
    font-size: 90%;
}

#for{
    padding: 15%;
}